.logo-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.info-container {
    width: 50%;
}


.profiel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: #005087;
    width: auto;
    max-width: 50%;
    margin: 0 auto;
    border-radius: 20px;
    color: white;

    .profiel-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #D9A20B;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 20px;
        padding: 10px;
    }
}

.profiel-container {
    form {
        display: flex;
        flex-direction: column;
        padding: 20px;

        input {
            padding: 10px;
            margin: 10px;
        }

        .btn-primary {
            background-color: #D9A20B;
            color: #fff;
            padding: 10px;
            margin: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn-primary:hover {
            background-color: #C79400;
        }

        p {
            color: #fff;
            margin: 10px;

            a {
                color: #D9A20B;
            }
        }
    }
}


.profile-function, .profile-username, .profile-email, .profile-company, .profile-phone {
    display: flex;
    align-items: center;
}